.testimonial-card-wrapper {
	position: relative;
	.testimonial-card {
		display: flex;
		width: 100%;
		margin-bottom: 2em;
		.testimonial-media-side {
			width: 40%;
			// height: 100%;
			min-height: 100%;
			// height: 600px;
			.testimonial-media-img {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-color: rgb(220, 220, 220);
				align-items: center;
			}
			.testimonial-media-video {
				width: 100%;
				height: 100%;
			}
		}
		@media screen and (max-width: 900px) {
			.testimonial-media-side {
				height: 600px;
			}
		}
		.testimonial-person-side {
			display: flex;
			justify-content: flex-end;
			height: 100%;
			// height: 600px;
			width: 60%;
			.message-brief-wrapper {
				padding: 4em;
				width: 65%;
				.message-title {
					font-size: 2em;
					font-weight: 600;
					color: #f79621;
				}
				.message {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 6; /* number of lines to show */
					-webkit-box-orient: vertical;
				}
				.read-more {
					color: #20558a;
					cursor: pointer;
				}
				.message-brief-hr {
					margin: 1em 0;
					border: 0.5pt solid rgb(198, 198, 198);
				}
			}
			.img-name-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 35%;
				height: 400px;
				align-self: center;
				.testimonial-card-img {
					border-radius: 20px 0 0 20px;
					max-width: 20em;
					max-height: 30em;
				}
				.person-name {
					text-align: center;
					color: #20558a;
					font-weight: 600;
				}
			}
		}
	}
	@media screen and (max-width: 900px) {
		.testimonial-card {
			flex-direction: column;
			.testimonial-media-side {
				width: 100%;
			}
			.testimonial-person-side {
				width: 100%;
			}
		}
	}
}

.icon {
	position: absolute;
	cursor: pointer;
	background-color: #e2e1e1b0;
	height: 100px;
	width: 30px;
	padding: 5px;
	transition: 0.5s;
	top: calc(50% - 50px);
}
.icon:hover {
	background-color: #fff;
}
.testimonial-slider-left-icon {
	border-radius: 0 5px 5px 0;

	left: 0;
}
.testimonial-slider-right-icon {
	border-radius: 5px 0 0 5px;
	right: 0;
}
